{
  "openapi": "3.0.1",
  "info": {
    "title": "Altinn 3 App API for frontend-test ENGLISH",
    "description": "This is the API for an Altinn 3 app. The API is based on the OpenAPI 3.0 specification.\nThis app has the following data types:\n| DataTypeId | Type | Allowed number | MimeTypes | TaskId |\n|------------|------|----------------|-----------|--------|\n|message|FormData (AutoCreate)|1|application/xml|Task_1|\n|fileUpload-message|Attachment|0-3|*|Task_1|\n|ServiceModel-test|FormData (AutoCreate)|1|application/xml|Task_2|\n|fileUpload-changename|Attachment|0-3|application/pdf|Task_2|\n|fileUploadWithTags-changename|Attachment|0-3|*|Task_2|\n|mainUploaderSingle|Attachment|0-1|*|Task_3|\n|mainUploaderMulti|Attachment|0-5|*|Task_3|\n|subUploader|Attachment|0-5|*|Task_3|\n|nested-group|FormData (AutoCreate)|1|application/xml|Task_3|\n|likert|FormData (AutoCreate)|1|application/xml|Task_4|\n|ref-data-as-pdf|Attachment|-|application/pdf||\n|datalist|FormData (AutoCreate)|1|application/xml|Task_5|\n\n## This app has the following process tasks:\n| TaskId | Name | Type | Actions |\n|--------|------|------|---------|\n| Task_1 | Utfylling (message) | data |  |\n| Task_2 | Utfylling (changename) | data | fill, conflictingOptionsResetshiftingOptionsAddshiftingOptionsRemoveAll |\n| Task_3 | Utfylling (group) | data | sortPets, generatePets |\n| Task_4 | Utfylling (likert) | data |  |\n| Task_5 | Utfylling (datalist) | data |  |\n| Task_Custom_Confirm | Tilbakemelding (custom) | confirmation | reject, confirm |\n| Task_Default_Confirm | Tilbakemelding (default) | confirmation | confirm |\n",
    "contact": {
      "name": "Digitaliseringsdirektoratet (altinn)",
      "url": "https://altinn.slack.com"
    },
    "version": "8.0.0.0"
  },
  "servers": [
    {
      "url": "http://local.altinn.cloud",
      "description": "Local development server"
    },
    {
      "url": "https://ttd.apps.tt02.altinn.no",
      "description": "TT02 server"
    },
    {
      "url": "https://ttd.apps.altinn.no",
      "description": "Production server"
    }
  ],
  "paths": {
    "/ttd/frontend-test/instances": {
      "summary": "Operations for instances",
      "description": "CRUD operations for instances",
      "post": {
        "tags": [
          "Instances"
        ],
        "summary": "Create new instance",
        "description": "The main api for creating new instances. ",
        "parameters": [
          {
            "$ref": "#/components/parameters/instanceOwnerPartyId"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "requestBody": {
          "description": "Instance document, formData and attachments\n\nAny mime type that is not ``\"application/json\"`` or ``\"multipart/form-data\"`` with an instance document\nwill require the ``instanceOwnerPartyId`` parameter. Otherwise you must use the simplified instance document to specify instance owner.\nEither using ``instanceOwner.partyId`` or ``instanceOwner.personNumber`` or ``instanceOwner.organisationNumber`` (or ``instanceOwner.username`` see [app-lib-dotnet/#652](https://github.com/Altinn/app-lib-dotnet/issues/652)).",
          "content": {
            "empty": {
              "schema": {
                "type": "null",
                "example": null
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstanceWrite"
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "instance": {
                    "$ref": "#/components/schemas/InstanceWrite"
                  },
                  "message": {
                    "type": "string",
                    "format": "binary"
                  },
                  "fileUpload-message": {
                    "type": "string",
                    "format": "binary"
                  },
                  "ServiceModel-test": {
                    "type": "string",
                    "format": "binary"
                  },
                  "fileUpload-changename": {
                    "type": "string",
                    "format": "binary"
                  },
                  "fileUploadWithTags-changename": {
                    "type": "string",
                    "format": "binary"
                  },
                  "mainUploaderSingle": {
                    "type": "string",
                    "format": "binary"
                  },
                  "mainUploaderMulti": {
                    "type": "string",
                    "format": "binary"
                  },
                  "subUploader": {
                    "type": "string",
                    "format": "binary"
                  },
                  "nested-group": {
                    "type": "string",
                    "format": "binary"
                  },
                  "likert": {
                    "type": "string",
                    "format": "binary"
                  },
                  "ref-data-as-pdf": {
                    "type": "string",
                    "format": "binary"
                  },
                  "datalist": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "additionalProperties": false
              },
              "encoding": {
                "instance": {
                  "contentType": "application/json"
                },
                "message": {
                  "contentType": "application/xml"
                },
                "fileUpload-message": {
                  "contentType": "application/octet-stream"
                },
                "ServiceModel-test": {
                  "contentType": "application/xml"
                },
                "fileUpload-changename": {
                  "contentType": "application/pdf"
                },
                "fileUploadWithTags-changename": {
                  "contentType": "application/octet-stream"
                },
                "mainUploaderSingle": {
                  "contentType": "application/octet-stream"
                },
                "mainUploaderMulti": {
                  "contentType": "application/octet-stream"
                },
                "subUploader": {
                  "contentType": "application/octet-stream"
                },
                "nested-group": {
                  "contentType": "application/xml"
                },
                "likert": {
                  "contentType": "application/xml"
                },
                "ref-data-as-pdf": {
                  "contentType": "application/pdf"
                },
                "datalist": {
                  "contentType": "application/xml"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Instance created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Instance"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "401": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "403": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "404": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "500": {
            "$ref": "#/components/responses/ProblemDetails"
          }
        }
      },
      "servers": [
        {
          "url": "/ttd/frontend-test"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}": {
      "summary": "Operations for instance",
      "description": "CRUD operations for a specific instance",
      "get": {
        "tags": [
          "Instances"
        ],
        "summary": "Get instance",
        "description": "Get a specific instance",
        "operationId": "GetInstance",
        "responses": {
          "200": {
            "description": "Instance found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Instance"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "401": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "403": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "404": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "500": {
            "$ref": "#/components/responses/ProblemDetails"
          }
        }
      },
      "delete": {
        "tags": [
          "Instances"
        ],
        "summary": "Delete instance",
        "description": "Delete a specific instance",
        "responses": {
          "204": {
            "description": "Instance deleted"
          },
          "400": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "401": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "403": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "404": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "500": {
            "$ref": "#/components/responses/ProblemDetails"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/language"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data": {
      "summary": "Operations for data elements",
      "description": "CRUD operations for data elements in an instance",
      "patch": {
        "tags": [
          "Instances"
        ],
        "summary": "Patch data elements on instance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Run patches on multiple Form data elements at once",
                "required": [
                  "patches"
                ],
                "type": "object",
                "properties": {
                  "patches": {
                    "type": "array",
                    "items": {
                      "required": [
                        "dataElementId",
                        "patch"
                      ],
                      "type": "object",
                      "properties": {
                        "dataElementId": {
                          "type": "string",
                          "format": "guid"
                        },
                        "patch": {
                          "title": "Json patch",
                          "type": "array",
                          "items": {
                            "required": [
                              "op",
                              "path"
                            ],
                            "type": "object",
                            "properties": {
                              "op": {
                                "title": "Patch operation",
                                "enum": [
                                  "add",
                                  "remove",
                                  "replace",
                                  "move",
                                  "copy",
                                  "test"
                                ],
                                "type": "string"
                              },
                              "from": {
                                "title": "JsonPointer",
                                "type": "string"
                              },
                              "path": {
                                "title": "JsonPointer",
                                "type": "string"
                              },
                              "value": {
                                "title": "the value",
                                "description": "The value to add or replace"
                              }
                            },
                            "additionalProperties": false
                          },
                          "description": "A standard RFC 6902 document describing changes to one data element"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "ignoredValidators": {
                    "title": "List of validators to not run incrementally",
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "This is used for saving server resources, when frontend has a duplicated version of the validator. The validators will be executed on process/next anyway"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Data elements patched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataPatchResponseMultiple"
                }
              }
            }
          },
          "409": {
            "description": "Precondition in patch failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataPatchError"
                }
              }
            }
          },
          "422": {
            "description": "JsonPatch operation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataPatchError"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "401": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "403": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "404": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "500": {
            "$ref": "#/components/responses/ProblemDetails"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/language"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data/{dataGuid}": {
      "summary": "Delete data element",
      "delete": {
        "tags": [
          "Instances"
        ],
        "summary": "Delete data element",
        "description": "Delete data for a specific data element",
        "responses": {
          "204": {
            "description": "Data deleted"
          },
          "404": {
            "description": "Data not found"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/dataGuid"
        },
        {
          "$ref": "#/components/parameters/language"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/process/next": {
      "summary": "Move instance to next process step",
      "put": {
        "tags": [
          "Instances"
        ],
        "summary": "Move instance to next process step",
        "description": "Move the instance to the next process step",
        "requestBody": {
          "description": "Optional body with specification of the action to perform",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessNext"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Instance moved to next process step. Returns the new process state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProcessState"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "400": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "401": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "403": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "404": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "500": {
            "$ref": "#/components/responses/ProblemDetails"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/language"
        }
      ]
    },
    "/ttd/frontend-test/api/v1/applicationmetadata": {
      "summary": "Get application metadata",
      "description": "Get the metadata for the application",
      "get": {
        "tags": [
          "Static"
        ],
        "summary": "Get application metadata",
        "description": "Get the metadata for the application",
        "responses": {
          "200": {
            "description": "Application metadata found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationMetadata"
                }
              }
            }
          }
        }
      }
    },
    "/authentication/api/v1/exchange/{tokenProvider}": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Action for exchanging a JWT generated by a trusted token provider with a new JWT for further use as authentication against rest of Altinn.",
        "parameters": [
          {
            "name": "tokenProvider",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "maskinporten",
                "id-porten"
              ],
              "type": "string"
            }
          },
          {
            "name": "Autorization",
            "in": "header",
            "description": "Bearer token from the selected token provider to exchange for an altinn token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer <token>"
          }
        ],
        "responses": {
          "200": {
            "description": "Exchanged token",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "eyJraWQiOiJIdFlaMU1UbFZXUGNCV0JQVWV3TmxZd1RCRklicU1Hb081O"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      },
      "servers": [
        {
          "url": "https://platform.altinn.no",
          "description": "Production environment"
        },
        {
          "url": "https://platform.tt02.altinn.no",
          "description": "Test environment"
        }
      ]
    },
    "/Home/GetTestUserToken": {
      "description": "Get a test user token for use in the local development environment",
      "get": {
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "The user id of the test user",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1337
            }
          },
          {
            "name": "authenticationLevel",
            "in": "query",
            "description": "The authentication level of the test user",
            "required": true,
            "schema": {
              "enum": [
                0,
                1,
                2,
                3,
                4,
                5
              ],
              "type": "integer",
              "default": 3
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test user token",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "eyJraWQiOiJIdFlaMU1UbFZXUGNCV0JQVWV3TmxZd1RCRklicU1Hb081O"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "http://local.altinn.cloud"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data/{dataGuid}/type/message": {
      "summary": "Operations for message",
      "description": "CRUD operations for data of type message",
      "get": {
        "tags": [
          "FormData message"
        ],
        "summary": "Get data",
        "description": "Get data for a specific data element\n\nsee [JSON Schema](/ttd/frontend-test/api/jsonschema/message)",
        "responses": {
          "200": {
            "description": "# Data found\n\nThe response body contains the data in the format specified by the Accept header.\n\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageV1"
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Xml",
                  "type": "string",
                  "description": "See xml schema",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "401": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "403": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "404": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "500": {
            "$ref": "#/components/responses/ProblemDetails"
          }
        }
      },
      "put": {
        "tags": [
          "FormData message"
        ],
        "summary": "Replace data element content",
        "description": "Update data for a specific data element",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageV1"
              }
            },
            "application/xml": {
              "schema": {
                "title": "Xml",
                "type": "string",
                "description": "See xml schema",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Data replaced"
          },
          "400": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "401": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "403": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "404": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "500": {
            "$ref": "#/components/responses/ProblemDetails"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/dataGuid"
        },
        {
          "$ref": "#/components/parameters/language"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data/type/message": {
      "summary": "Operations for message",
      "description": "CRUD operations for data of type message",
      "post": {
        "tags": [
          "FormData message"
        ],
        "summary": "Create data",
        "description": "Create data for a specific data element",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageV1"
              }
            },
            "application/xml": {
              "schema": {
                "title": "Xml",
                "type": "string",
                "description": "See xml schema",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Data created",
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataPostResponse"
                }
              }
            }
          },
          "400": {
            "description": "Failed to add data element",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataPostErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/dataGuid"
        },
        {
          "$ref": "#/components/parameters/language"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data/{dataGuid}/type/fileUpload-message": {
      "summary": "Operations for fileUpload-message",
      "description": "CRUD operations for data of type fileUpload-message",
      "get": {
        "tags": [
          "FileData fileUpload-message"
        ],
        "summary": "Get attachment",
        "description": "Get attachment for a specific data element",
        "responses": {
          "200": {
            "description": "Attachment found",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Attachment not found"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/dataGuid"
        },
        {
          "$ref": "#/components/parameters/language"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data/type/fileUpload-message": {
      "summary": "Operations for fileUpload-message",
      "description": "CRUD operations for data of type fileUpload-message",
      "post": {
        "tags": [
          "FileData fileUpload-message"
        ],
        "summary": "Create attachment",
        "requestBody": {
          "content": {
            "application/octet-stream": {}
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Attachment created"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/dataGuid"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data/{dataGuid}/type/ServiceModel-test": {
      "summary": "Operations for ServiceModel-test",
      "description": "CRUD operations for data of type ServiceModel-test",
      "get": {
        "tags": [
          "FormData ServiceModel-test"
        ],
        "summary": "Get data",
        "description": "Get data for a specific data element\n\nsee [JSON Schema](/ttd/frontend-test/api/jsonschema/ServiceModel-test)",
        "responses": {
          "200": {
            "description": "# Data found\n\nThe response body contains the data in the format specified by the Accept header.\n\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Skjema"
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Xml",
                  "type": "string",
                  "description": "See xml schema",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "401": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "403": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "404": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "500": {
            "$ref": "#/components/responses/ProblemDetails"
          }
        }
      },
      "put": {
        "tags": [
          "FormData ServiceModel-test"
        ],
        "summary": "Replace data element content",
        "description": "Update data for a specific data element",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Skjema"
              }
            },
            "application/xml": {
              "schema": {
                "title": "Xml",
                "type": "string",
                "description": "See xml schema",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Data replaced"
          },
          "400": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "401": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "403": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "404": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "500": {
            "$ref": "#/components/responses/ProblemDetails"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/dataGuid"
        },
        {
          "$ref": "#/components/parameters/language"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data/type/ServiceModel-test": {
      "summary": "Operations for ServiceModel-test",
      "description": "CRUD operations for data of type ServiceModel-test",
      "post": {
        "tags": [
          "FormData ServiceModel-test"
        ],
        "summary": "Create data",
        "description": "Create data for a specific data element",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Skjema"
              }
            },
            "application/xml": {
              "schema": {
                "title": "Xml",
                "type": "string",
                "description": "See xml schema",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Data created",
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataPostResponse"
                }
              }
            }
          },
          "400": {
            "description": "Failed to add data element",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataPostErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/dataGuid"
        },
        {
          "$ref": "#/components/parameters/language"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data/{dataGuid}/type/fileUpload-changename": {
      "summary": "Operations for fileUpload-changename",
      "description": "CRUD operations for data of type fileUpload-changename",
      "get": {
        "tags": [
          "FileData fileUpload-changename"
        ],
        "summary": "Get attachment",
        "description": "Get attachment for a specific data element",
        "responses": {
          "200": {
            "description": "Attachment found",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Attachment not found"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/dataGuid"
        },
        {
          "$ref": "#/components/parameters/language"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data/type/fileUpload-changename": {
      "summary": "Operations for fileUpload-changename",
      "description": "CRUD operations for data of type fileUpload-changename",
      "post": {
        "tags": [
          "FileData fileUpload-changename"
        ],
        "summary": "Create attachment",
        "requestBody": {
          "content": {
            "application/pdf": {}
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Attachment created"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/dataGuid"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data/{dataGuid}/type/fileUploadWithTags-changename": {
      "summary": "Operations for fileUploadWithTags-changename",
      "description": "CRUD operations for data of type fileUploadWithTags-changename",
      "get": {
        "tags": [
          "FileData fileUploadWithTags-changename"
        ],
        "summary": "Get attachment",
        "description": "Get attachment for a specific data element",
        "responses": {
          "200": {
            "description": "Attachment found",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Attachment not found"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/dataGuid"
        },
        {
          "$ref": "#/components/parameters/language"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data/type/fileUploadWithTags-changename": {
      "summary": "Operations for fileUploadWithTags-changename",
      "description": "CRUD operations for data of type fileUploadWithTags-changename",
      "post": {
        "tags": [
          "FileData fileUploadWithTags-changename"
        ],
        "summary": "Create attachment",
        "requestBody": {
          "content": {
            "application/octet-stream": {}
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Attachment created"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/dataGuid"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data/{dataGuid}/type/mainUploaderSingle": {
      "summary": "Operations for mainUploaderSingle",
      "description": "CRUD operations for data of type mainUploaderSingle",
      "get": {
        "tags": [
          "FileData mainUploaderSingle"
        ],
        "summary": "Get attachment",
        "description": "Get attachment for a specific data element",
        "responses": {
          "200": {
            "description": "Attachment found",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Attachment not found"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/dataGuid"
        },
        {
          "$ref": "#/components/parameters/language"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data/type/mainUploaderSingle": {
      "summary": "Operations for mainUploaderSingle",
      "description": "CRUD operations for data of type mainUploaderSingle",
      "post": {
        "tags": [
          "FileData mainUploaderSingle"
        ],
        "summary": "Create attachment",
        "requestBody": {
          "content": {
            "application/octet-stream": {}
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Attachment created"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/dataGuid"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data/{dataGuid}/type/mainUploaderMulti": {
      "summary": "Operations for mainUploaderMulti",
      "description": "CRUD operations for data of type mainUploaderMulti",
      "get": {
        "tags": [
          "FileData mainUploaderMulti"
        ],
        "summary": "Get attachment",
        "description": "Get attachment for a specific data element",
        "responses": {
          "200": {
            "description": "Attachment found",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Attachment not found"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/dataGuid"
        },
        {
          "$ref": "#/components/parameters/language"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data/type/mainUploaderMulti": {
      "summary": "Operations for mainUploaderMulti",
      "description": "CRUD operations for data of type mainUploaderMulti",
      "post": {
        "tags": [
          "FileData mainUploaderMulti"
        ],
        "summary": "Create attachment",
        "requestBody": {
          "content": {
            "application/octet-stream": {}
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Attachment created"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/dataGuid"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data/{dataGuid}/type/subUploader": {
      "summary": "Operations for subUploader",
      "description": "CRUD operations for data of type subUploader",
      "get": {
        "tags": [
          "FileData subUploader"
        ],
        "summary": "Get attachment",
        "description": "Get attachment for a specific data element",
        "responses": {
          "200": {
            "description": "Attachment found",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Attachment not found"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/dataGuid"
        },
        {
          "$ref": "#/components/parameters/language"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data/type/subUploader": {
      "summary": "Operations for subUploader",
      "description": "CRUD operations for data of type subUploader",
      "post": {
        "tags": [
          "FileData subUploader"
        ],
        "summary": "Create attachment",
        "requestBody": {
          "content": {
            "application/octet-stream": {}
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Attachment created"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/dataGuid"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data/{dataGuid}/type/nested-group": {
      "summary": "Operations for nested-group",
      "description": "CRUD operations for data of type nested-group",
      "get": {
        "tags": [
          "FormData nested-group"
        ],
        "summary": "Get data",
        "description": "Get data for a specific data element\n\nsee [JSON Schema](/ttd/frontend-test/api/jsonschema/nested-group)",
        "responses": {
          "200": {
            "description": "# Data found\n\nThe response body contains the data in the format specified by the Accept header.\n\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestedGroup"
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Xml",
                  "type": "string",
                  "description": "See xml schema",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "401": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "403": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "404": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "500": {
            "$ref": "#/components/responses/ProblemDetails"
          }
        }
      },
      "put": {
        "tags": [
          "FormData nested-group"
        ],
        "summary": "Replace data element content",
        "description": "Update data for a specific data element",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NestedGroup"
              }
            },
            "application/xml": {
              "schema": {
                "title": "Xml",
                "type": "string",
                "description": "See xml schema",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Data replaced"
          },
          "400": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "401": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "403": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "404": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "500": {
            "$ref": "#/components/responses/ProblemDetails"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/dataGuid"
        },
        {
          "$ref": "#/components/parameters/language"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data/type/nested-group": {
      "summary": "Operations for nested-group",
      "description": "CRUD operations for data of type nested-group",
      "post": {
        "tags": [
          "FormData nested-group"
        ],
        "summary": "Create data",
        "description": "Create data for a specific data element",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NestedGroup"
              }
            },
            "application/xml": {
              "schema": {
                "title": "Xml",
                "type": "string",
                "description": "See xml schema",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Data created",
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataPostResponse"
                }
              }
            }
          },
          "400": {
            "description": "Failed to add data element",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataPostErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/dataGuid"
        },
        {
          "$ref": "#/components/parameters/language"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data/{dataGuid}/type/likert": {
      "summary": "Operations for likert",
      "description": "CRUD operations for data of type likert",
      "get": {
        "tags": [
          "FormData likert"
        ],
        "summary": "Get data",
        "description": "Get data for a specific data element\n\nsee [JSON Schema](/ttd/frontend-test/api/jsonschema/likert)",
        "responses": {
          "200": {
            "description": "# Data found\n\nThe response body contains the data in the format specified by the Accept header.\n\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LikertSurvey"
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Xml",
                  "type": "string",
                  "description": "See xml schema",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "401": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "403": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "404": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "500": {
            "$ref": "#/components/responses/ProblemDetails"
          }
        }
      },
      "put": {
        "tags": [
          "FormData likert"
        ],
        "summary": "Replace data element content",
        "description": "Update data for a specific data element",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LikertSurvey"
              }
            },
            "application/xml": {
              "schema": {
                "title": "Xml",
                "type": "string",
                "description": "See xml schema",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Data replaced"
          },
          "400": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "401": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "403": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "404": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "500": {
            "$ref": "#/components/responses/ProblemDetails"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/dataGuid"
        },
        {
          "$ref": "#/components/parameters/language"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data/type/likert": {
      "summary": "Operations for likert",
      "description": "CRUD operations for data of type likert",
      "post": {
        "tags": [
          "FormData likert"
        ],
        "summary": "Create data",
        "description": "Create data for a specific data element",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LikertSurvey"
              }
            },
            "application/xml": {
              "schema": {
                "title": "Xml",
                "type": "string",
                "description": "See xml schema",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Data created",
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataPostResponse"
                }
              }
            }
          },
          "400": {
            "description": "Failed to add data element",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataPostErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/dataGuid"
        },
        {
          "$ref": "#/components/parameters/language"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data/{dataGuid}/type/ref-data-as-pdf": {
      "summary": "Operations for ref-data-as-pdf",
      "description": "CRUD operations for data of type ref-data-as-pdf",
      "get": {
        "tags": [
          "FileData ref-data-as-pdf"
        ],
        "summary": "Get attachment",
        "description": "Get attachment for a specific data element",
        "responses": {
          "200": {
            "description": "Attachment found",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Attachment not found"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/dataGuid"
        },
        {
          "$ref": "#/components/parameters/language"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data/type/ref-data-as-pdf": {
      "summary": "Operations for ref-data-as-pdf",
      "description": "CRUD operations for data of type ref-data-as-pdf",
      "post": {
        "tags": [
          "FileData ref-data-as-pdf"
        ],
        "summary": "Create attachment",
        "requestBody": {
          "content": {
            "application/pdf": {}
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Attachment created"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/dataGuid"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data/{dataGuid}/type/datalist": {
      "summary": "Operations for datalist",
      "description": "CRUD operations for data of type datalist",
      "get": {
        "tags": [
          "FormData datalist"
        ],
        "summary": "Get data",
        "description": "Get data for a specific data element\n\nsee [JSON Schema](/ttd/frontend-test/api/jsonschema/datalist)",
        "responses": {
          "200": {
            "description": "# Data found\n\nThe response body contains the data in the format specified by the Accept header.\n\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Datalist"
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Xml",
                  "type": "string",
                  "description": "See xml schema",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "401": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "403": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "404": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "500": {
            "$ref": "#/components/responses/ProblemDetails"
          }
        }
      },
      "put": {
        "tags": [
          "FormData datalist"
        ],
        "summary": "Replace data element content",
        "description": "Update data for a specific data element",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Datalist"
              }
            },
            "application/xml": {
              "schema": {
                "title": "Xml",
                "type": "string",
                "description": "See xml schema",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Data replaced"
          },
          "400": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "401": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "403": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "404": {
            "$ref": "#/components/responses/ProblemDetails"
          },
          "500": {
            "$ref": "#/components/responses/ProblemDetails"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/dataGuid"
        },
        {
          "$ref": "#/components/parameters/language"
        }
      ]
    },
    "/ttd/frontend-test/instances/{instanceOwnerPartyId}/{instanceGuid}/data/type/datalist": {
      "summary": "Operations for datalist",
      "description": "CRUD operations for data of type datalist",
      "post": {
        "tags": [
          "FormData datalist"
        ],
        "summary": "Create data",
        "description": "Create data for a specific data element",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Datalist"
              }
            },
            "application/xml": {
              "schema": {
                "title": "Xml",
                "type": "string",
                "description": "See xml schema",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Data created",
            "content": {
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataPostResponse"
                }
              }
            }
          },
          "400": {
            "description": "Failed to add data element",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataPostErrorResponse"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/instanceOwnerPartyId"
        },
        {
          "$ref": "#/components/parameters/instanceGuid"
        },
        {
          "$ref": "#/components/parameters/dataGuid"
        },
        {
          "$ref": "#/components/parameters/language"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "InstanceOwner": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "nullable": true
          },
          "personNumber": {
            "type": "string",
            "nullable": true
          },
          "organisationNumber": {
            "type": "string",
            "nullable": true
          },
          "username": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ResourceLinks": {
        "type": "object",
        "properties": {
          "apps": {
            "type": "string",
            "nullable": true
          },
          "platform": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ValidationStatus": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "canCompleteTask": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "ProcessElementInfo": {
        "type": "object",
        "properties": {
          "flow": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "started": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "elementId": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "altinnTaskType": {
            "type": "string",
            "nullable": true
          },
          "ended": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "validated": {
            "$ref": "#/components/schemas/ValidationStatus"
          },
          "flowType": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ProcessState": {
        "type": "object",
        "properties": {
          "started": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "startEvent": {
            "type": "string",
            "nullable": true
          },
          "currentTask": {
            "$ref": "#/components/schemas/ProcessElementInfo"
          },
          "ended": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "endEvent": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ReadStatus": {
        "enum": [
          0,
          1,
          2
        ],
        "type": "integer",
        "format": "int32"
      },
      "Substatus": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "InstanceStatus": {
        "type": "object",
        "properties": {
          "isArchived": {
            "type": "boolean"
          },
          "archived": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "isSoftDeleted": {
            "type": "boolean"
          },
          "softDeleted": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "isHardDeleted": {
            "type": "boolean"
          },
          "hardDeleted": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "readStatus": {
            "$ref": "#/components/schemas/ReadStatus"
          },
          "substatus": {
            "$ref": "#/components/schemas/Substatus"
          }
        },
        "additionalProperties": false
      },
      "CompleteConfirmation": {
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "nullable": true
          },
          "confirmedOn": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "KeyValueEntry": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DeleteStatus": {
        "type": "object",
        "properties": {
          "isHardDeleted": {
            "type": "boolean"
          },
          "hardDeleted": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FileScanResult": {
        "enum": [
          "NotApplicable",
          "Pending",
          "Clean",
          "Infected"
        ],
        "type": "string"
      },
      "RelationType": {
        "enum": [
          "GeneratedFrom"
        ],
        "type": "string"
      },
      "ReferenceType": {
        "enum": [
          "DataElement",
          "Task"
        ],
        "type": "string"
      },
      "Reference": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "nullable": true
          },
          "relation": {
            "$ref": "#/components/schemas/RelationType"
          },
          "valueType": {
            "$ref": "#/components/schemas/ReferenceType"
          }
        },
        "additionalProperties": false
      },
      "DataElement": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "created": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdBy": {
            "type": "string",
            "nullable": true
          },
          "lastChanged": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastChangedBy": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "instanceGuid": {
            "type": "string",
            "nullable": true
          },
          "dataType": {
            "type": "string",
            "nullable": true
          },
          "filename": {
            "type": "string",
            "nullable": true
          },
          "contentType": {
            "type": "string",
            "nullable": true
          },
          "blobStoragePath": {
            "type": "string",
            "nullable": true
          },
          "selfLinks": {
            "$ref": "#/components/schemas/ResourceLinks"
          },
          "size": {
            "type": "integer",
            "format": "int64"
          },
          "contentHash": {
            "type": "string",
            "nullable": true
          },
          "locked": {
            "type": "boolean"
          },
          "refs": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "isRead": {
            "type": "boolean"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "userDefinedMetadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeyValueEntry"
            },
            "nullable": true
          },
          "metadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeyValueEntry"
            },
            "nullable": true
          },
          "deleteStatus": {
            "$ref": "#/components/schemas/DeleteStatus"
          },
          "fileScanResult": {
            "$ref": "#/components/schemas/FileScanResult"
          },
          "references": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reference"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Instance": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "created": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdBy": {
            "type": "string",
            "nullable": true
          },
          "lastChanged": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastChangedBy": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "instanceOwner": {
            "$ref": "#/components/schemas/InstanceOwner"
          },
          "appId": {
            "type": "string",
            "nullable": true
          },
          "org": {
            "type": "string",
            "nullable": true
          },
          "selfLinks": {
            "$ref": "#/components/schemas/ResourceLinks"
          },
          "dueBefore": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "visibleAfter": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "process": {
            "$ref": "#/components/schemas/ProcessState"
          },
          "status": {
            "$ref": "#/components/schemas/InstanceStatus"
          },
          "completeConfirmations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompleteConfirmation"
            },
            "nullable": true
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataElement"
            },
            "nullable": true
          },
          "presentationTexts": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "nullable": true
            },
            "nullable": true
          },
          "dataValues": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "nullable": true
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "InstanceWrite": {
        "title": "InstanceWrite",
        "properties": {
          "instanceOwner": {
            "title": "Altnernate ways to spcecify the instance owner",
            "type": "object",
            "properties": {
              "partyId": {
                "type": "string",
                "format": "int32",
                "nullable": true
              },
              "personNumber": {
                "pattern": "^\\d{11}$",
                "type": "string",
                "nullable": true
              },
              "organisationNumber": {
                "pattern": "^\\d{9}$",
                "type": "string",
                "nullable": true
              },
              "username": {
                "type": "string",
                "description": "Initialization based on username is not yet supported (https://github.com/Altinn/app-lib-dotnet/issues/652)",
                "nullable": true
              }
            },
            "additionalProperties": false,
            "description": "Only one of these should be spcecified when creating a new inistance"
          },
          "dueBefore": {
            "type": "string",
            "format": "date-time"
          },
          "visibleAfter": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ValidationIssueSeverity": {
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5
        ],
        "type": "integer",
        "format": "int32"
      },
      "ValidationIssueWithSource": {
        "required": [
          "code",
          "description",
          "severity",
          "source"
        ],
        "type": "object",
        "properties": {
          "severity": {
            "$ref": "#/components/schemas/ValidationIssueSeverity"
          },
          "dataElementId": {
            "type": "string",
            "nullable": true
          },
          "field": {
            "type": "string",
            "nullable": true
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "source": {
            "minLength": 1,
            "type": "string"
          },
          "noIncrementalUpdates": {
            "type": "boolean"
          },
          "customTextKey": {
            "type": "string",
            "nullable": true
          },
          "customTextParams": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ValidationSourcePair": {
        "required": [
          "issues",
          "source"
        ],
        "type": "object",
        "properties": {
          "source": {
            "minLength": 1,
            "type": "string"
          },
          "issues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationIssueWithSource"
            }
          }
        },
        "additionalProperties": false
      },
      "DataModelPairResponse": {
        "required": [
          "data",
          "dataElementId"
        ],
        "type": "object",
        "properties": {
          "dataElementId": {
            "type": "string",
            "format": "uuid"
          },
          "data": {}
        },
        "additionalProperties": false
      },
      "DataPatchResponseMultiple": {
        "required": [
          "instance",
          "newDataModels",
          "validationIssues"
        ],
        "type": "object",
        "properties": {
          "validationIssues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationSourcePair"
            }
          },
          "newDataModels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataModelPairResponse"
            }
          },
          "instance": {
            "$ref": "#/components/schemas/Instance"
          }
        },
        "additionalProperties": false
      },
      "DataPatchError": {
        "required": [
          "dataElementId",
          "patchOperationIndex",
          "previousModel"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          },
          "previousModel": {},
          "dataElementId": {
            "type": "string",
            "format": "uuid"
          },
          "patchOperationIndex": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": {}
      },
      "ProcessNext": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AppProcessState": {
        "type": "object",
        "properties": {
          "started": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "startEvent": {
            "type": "string",
            "nullable": true
          },
          "currentTask": {
            "$ref": "#/components/schemas/ProcessElementInfo"
          },
          "ended": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "endEvent": {
            "type": "string",
            "nullable": true
          },
          "actions": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ShadowFields": {
        "type": "object",
        "properties": {
          "prefix": {
            "type": "string",
            "nullable": true
          },
          "saveToDataType": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ApplicationLogic": {
        "type": "object",
        "properties": {
          "autoCreate": {
            "type": "boolean",
            "nullable": true
          },
          "classRef": {
            "type": "string",
            "nullable": true
          },
          "schemaRef": {
            "type": "string",
            "nullable": true
          },
          "allowAnonymousOnStateless": {
            "type": "boolean"
          },
          "autoDeleteOnProcessEnd": {
            "type": "boolean"
          },
          "disallowUserCreate": {
            "type": "boolean"
          },
          "disallowUserDelete": {
            "type": "boolean"
          },
          "allowInSubform": {
            "type": "boolean",
            "deprecated": true
          },
          "shadowFields": {
            "$ref": "#/components/schemas/ShadowFields"
          }
        },
        "additionalProperties": false
      },
      "DataType": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "description": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "allowedContentTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "allowedContributers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "appLogic": {
            "$ref": "#/components/schemas/ApplicationLogic"
          },
          "taskId": {
            "type": "string",
            "nullable": true
          },
          "maxSize": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "maxCount": {
            "type": "integer",
            "format": "int32",
            "default": 1
          },
          "minCount": {
            "type": "integer",
            "format": "int32",
            "default": 1
          },
          "grouping": {
            "type": "string",
            "nullable": true
          },
          "enablePdfCreation": {
            "type": "boolean"
          },
          "enableFileScan": {
            "type": "boolean"
          },
          "validationErrorOnPendingFileScan": {
            "type": "boolean"
          },
          "enabledFileAnalysers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "enabledFileValidators": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "allowedKeysForUserDefinedMetadata": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PartyTypesAllowed": {
        "type": "object",
        "properties": {
          "bankruptcyEstate": {
            "type": "boolean"
          },
          "organisation": {
            "type": "boolean"
          },
          "person": {
            "type": "boolean"
          },
          "subUnit": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "DataField": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "path": {
            "type": "string",
            "nullable": true
          },
          "dataTypeId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EFormidlingContract": {
        "type": "object",
        "properties": {
          "serviceId": {
            "type": "string",
            "nullable": true
          },
          "dpfShipmentType": {
            "type": "string",
            "nullable": true
          },
          "receiver": {
            "type": "string",
            "nullable": true
          },
          "sendAfterTaskId": {
            "type": "string",
            "nullable": true
          },
          "process": {
            "type": "string",
            "nullable": true
          },
          "standard": {
            "type": "string",
            "nullable": true
          },
          "typeVersion": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "securityLevel": {
            "type": "integer",
            "format": "int32"
          },
          "dataTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OnEntryConfig": {
        "type": "object",
        "properties": {
          "show": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "HideSettings": {
        "type": "object",
        "properties": {
          "hideAlways": {
            "type": "boolean"
          },
          "hideOnTask": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MessageBoxConfig": {
        "type": "object",
        "properties": {
          "hideSettings": {
            "$ref": "#/components/schemas/HideSettings"
          }
        },
        "additionalProperties": false
      },
      "CopyInstanceSettings": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "excludedDataTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "excludedDataFields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "InstanceSelection": {
        "type": "object",
        "properties": {
          "rowsPerPageOptions": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "nullable": true
          },
          "defaultRowsPerPage": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "defaultSelectedOption": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "sortDirection": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OnEntry": {
        "type": "object",
        "properties": {
          "show": {
            "type": "string",
            "nullable": true
          },
          "instanceSelection": {
            "$ref": "#/components/schemas/InstanceSelection"
          }
        },
        "additionalProperties": false
      },
      "Logo": {
        "type": "object",
        "properties": {
          "displayAppOwnerNameInHeader": {
            "type": "boolean"
          },
          "source": {
            "type": "string",
            "nullable": true
          },
          "size": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ApplicationMetadata": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "created": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdBy": {
            "type": "string",
            "nullable": true
          },
          "lastChanged": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastChangedBy": {
            "type": "string",
            "nullable": true
          },
          "versionId": {
            "type": "string",
            "nullable": true
          },
          "org": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "nullable": true
            },
            "nullable": true
          },
          "validFrom": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "validTo": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "processId": {
            "type": "string",
            "nullable": true
          },
          "dataTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataType"
            },
            "nullable": true
          },
          "partyTypesAllowed": {
            "$ref": "#/components/schemas/PartyTypesAllowed"
          },
          "autoDeleteOnProcessEnd": {
            "type": "boolean"
          },
          "presentationFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataField"
            },
            "nullable": true
          },
          "dataFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataField"
            },
            "nullable": true
          },
          "eFormidling": {
            "$ref": "#/components/schemas/EFormidlingContract"
          },
          "onEntry": {
            "$ref": "#/components/schemas/OnEntry"
          },
          "messageBoxConfig": {
            "$ref": "#/components/schemas/MessageBoxConfig"
          },
          "copyInstanceSettings": {
            "$ref": "#/components/schemas/CopyInstanceSettings"
          },
          "storageAccountNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "disallowUserInstantiation": {
            "type": "boolean"
          },
          "id": {
            "type": "string"
          },
          "features": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            },
            "nullable": true
          },
          "logo": {
            "$ref": "#/components/schemas/Logo"
          },
          "altinnNugetVersion": {
            "type": "string",
            "nullable": true
          },
          "externalApiIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": {}
      },
      "MessageV1": {
        "type": "object",
        "properties": {
          "ProcessTask": {
            "type": "string",
            "nullable": true
          },
          "Title": {
            "type": "string",
            "nullable": true
          },
          "Body": {
            "type": "string",
            "nullable": true
          },
          "Reference": {
            "type": "string",
            "nullable": true
          },
          "Sender": {
            "type": "string",
            "nullable": true
          },
          "IsSomeValue": {
            "type": "boolean",
            "nullable": true
          },
          "SomeNumberValue": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "GwTargetTask": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DataPostResponse": {
        "required": [
          "instance",
          "newDataElementId",
          "newDataModels",
          "validationIssues"
        ],
        "type": "object",
        "properties": {
          "newDataElementId": {
            "type": "string",
            "format": "uuid"
          },
          "instance": {
            "$ref": "#/components/schemas/Instance"
          },
          "validationIssues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationSourcePair"
            }
          },
          "newDataModels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataModelPairResponse"
            }
          }
        },
        "additionalProperties": false
      },
      "DataPostErrorResponse": {
        "required": [
          "uploadValidationIssues"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          },
          "uploadValidationIssues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationIssueWithSource"
            },
            "readOnly": true
          }
        },
        "additionalProperties": {}
      },
      "MeldingMeldingsmottakerFodselsnummerdatadef33548": {
        "type": "object",
        "properties": {
          "orid": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "number",
            "format": "double"
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SubjektFodselsnummerdatadef34727": {
        "type": "object",
        "properties": {
          "orid": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "number",
            "format": "double"
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SubjektFornavnFolkeregistrertdatadef34730": {
        "type": "object",
        "properties": {
          "orid": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "number",
            "format": "double"
          },
          "value": {
            "maxLength": 60,
            "minLength": 1,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SubjektMellomnavnFolkeregistrertdatadef34731": {
        "type": "object",
        "properties": {
          "orid": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "number",
            "format": "double"
          },
          "value": {
            "maxLength": 60,
            "minLength": 1,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SubjektEtternavnFolkeregistrertdatadef34729": {
        "type": "object",
        "properties": {
          "orid": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "number",
            "format": "double"
          },
          "value": {
            "maxLength": 60,
            "minLength": 1,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "NavneendringenGjelderForgrp9310": {
        "type": "object",
        "properties": {
          "gruppeid": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "number",
            "format": "double"
          },
          "MeldingMeldingsmottakerFodselsnummer-datadef-33548": {
            "$ref": "#/components/schemas/MeldingMeldingsmottakerFodselsnummerdatadef33548"
          },
          "SubjektFodselsnummer-datadef-34727": {
            "$ref": "#/components/schemas/SubjektFodselsnummerdatadef34727"
          },
          "SubjektFornavnFolkeregistrert-datadef-34730": {
            "$ref": "#/components/schemas/SubjektFornavnFolkeregistrertdatadef34730"
          },
          "SubjektMellomnavnFolkeregistrert-datadef-34731": {
            "$ref": "#/components/schemas/SubjektMellomnavnFolkeregistrertdatadef34731"
          },
          "SubjektEtternavnFolkeregistrert-datadef-34729": {
            "$ref": "#/components/schemas/SubjektEtternavnFolkeregistrertdatadef34729"
          }
        },
        "additionalProperties": false
      },
      "SignererEkstraFodselsnummerdatadef34744": {
        "type": "object",
        "properties": {
          "orid": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "number",
            "format": "double"
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SignererEkstraEtternavndatadef34745": {
        "type": "object",
        "properties": {
          "orid": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "number",
            "format": "double"
          },
          "value": {
            "maxLength": 60,
            "minLength": 1,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SignererEkstraFornavndatadef34746": {
        "type": "object",
        "properties": {
          "orid": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "number",
            "format": "double"
          },
          "value": {
            "maxLength": 60,
            "minLength": 1,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SignererEkstraMellomnavndatadef34747": {
        "type": "object",
        "properties": {
          "orid": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "number",
            "format": "double"
          },
          "value": {
            "maxLength": 60,
            "minLength": 1,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SignererEkstraEpostdatadef34749": {
        "type": "object",
        "properties": {
          "orid": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "number",
            "format": "double"
          },
          "value": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SignererEkstraMobiltelefonsnummerdatadef34750": {
        "type": "object",
        "properties": {
          "orid": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "number",
            "format": "double"
          },
          "value": {
            "maxLength": 15,
            "minLength": 1,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SignererEkstraReferanseAltinndatadef34751": {
        "type": "object",
        "properties": {
          "orid": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "number",
            "format": "double"
          },
          "value": {
            "maxLength": 10,
            "minLength": 1,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SignererEkstraArkivDatodatadef34752": {
        "type": "object",
        "properties": {
          "orid": {
            "maximum": 2147483647,
[...]
