<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="local" value="./packages" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="local">
      <package pattern="Altinn.App.Api" />
      <package pattern="Altinn.App.Core" />
    </packageSource>
  </packageSourceMapping>
</configuration>