name: Verify dotnet format

on:
  pull_request:

jobs:
  verify-no-changes:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Setup .NET
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5
      with:
        dotnet-version: 8.0.x
    - name: Install csharpier
      run: dotnet tool restore
    - name: Run csharpier
      run: dotnet csharpier check .
